body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4f8;
  color: #333;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

h1 {
  margin-bottom: 1.5rem;
  color: #007acc;
}

.url-form input[type="url"] {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
}

.url-form button {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.url-form button:hover {
  background-color: #005c99;
}

.result {
  margin-top: 1.5rem;
}

.result input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #007acc;
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #007acc;
}

.result button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.result button:hover {
  background-color: #218838;
}

.result p {
  margin-top: 10px;
}

.result p a {
  color: #007acc;
  text-decoration: none;
}